<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="application.css">
    <%= stylesheet_link_tag "application.css" %>
    
  </head>

  <body>

<div id="header">
    <div class="nav">
    <div class="container">

        <ul class="pull-left">
          <li><p></p></li>
        </ul>

        <ul class="pull-right">
          <li><a href="#">Log In</a></li>
          <li><a href="#">Settings</a></li>
        </ul>

    </div>
    </div>
</div>


<div class="main-body">
    <div class="jumbotron">
    <div class="container">

        <h1>Stay in the loop with looplio.</h1>
        <a href="#">Learn More</a>

    </div>
    </div>


		<div class="top-posts">
	  	<div class="container">

	  	<div class="col-md-2">
	  			<h5>5 Newest Channels</h5>
	  			<p>
	  				<ul class="newestchannels">
					<li>1st newest channel</li>
					<li>2nd newest channel</li>
					<li>3rd newest channel</li>
					<li>4th newest channel</li>
					<li>5th newest channel</li>
				</ul>
	  			</p>
		</div>

	    <div class="col-md-6">

	    	<ul class="top">
			<li><h3>Top Rated Channel</h3>
			<p>The most recent post in the highest rated channel goes here.</p>
	    	</li>

		<li>
			<h3>Most Liked Post</h3>
			<p>The post with the most likes (in the past # days/weeks) goes here.</p>
		</li>

		<li>
			<h3>Most Viewed Post</h3>
			<p>The post with the most views goes here.</p>
		</li>

		</div>

		<div class="col-md-2">
			<h5>Top 5 channels</h5>
			<p>
				<ul class="topchannels">
					<li>1st top channel</li>
					<li>2nd top channel</li>
					<li>3rd top channel</li>
					<li>4th top channel</li>
					<li>5th top channel</li>
				</ul>
			</p>
		</div>

		</div>
		</div>

		<div class="recent">
		<div class="container">

	    <div class="col-md-12">
			<h3>Most Recent Posts</h3>
			<p>The most recent posts go here.</p>
	    </div>

		<div class="col-md-12">
			<h3>Most Recent Comments</h3>
			<p>The most recent comments go here.</p>
		</div>

		</div>
		</div>
</div>
  </body>
</html>